.modal-container {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.469);
}

.modal-content {
  position: absolute;
  right: 0;
  z-index: 11;
  min-width: 35%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.modalCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  z-index: 12;
  cursor: pointer;
}
.searchForm {
  margin-bottom: 2rem;
}
.searchForm input {
  margin-bottom: 1rem;
}
.searchForm .ant-switch {
  margin-left: 0.5rem;
}
.searchForm .ant-slider {
  margin: 1rem 0;
}

.searchResults {
  overflow: scroll;
  max-height: 80%;
}
.searchResults .list {
  max-width: 100%;
}
