.lists {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.list {
  flex: 1;
  background-color: #fcf8e8;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 0.5rem 1rem;
}
.list h2 {
  white-space: nowrap;
}
.list a {
  color: #333;
}
.list a:hover {
  color: #df7861;
}
.board-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.board-name .avatar-username {
  font-size: 0.6em;
}
.list .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
}
.list .name a {
  color: #333;
}
.list .name button,
.list .name a.button {
  color: #ddd;
  border: 1px solid white;
}
.list .name button:hover,
.list .name a.button:hover {
  color: #333;
  border: 1px solid #ccc;
}
.list .name .info-text {
  display: none;
}
.list .name:hover .info-text {
  display: inline;
}
.inline-absolute-form {
  position: absolute;
  margin-top: 0.3rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 50;
}
.inline-absolute-form ul {
  margin-top: 1rem;
}
.inline-absolute-form label,
.inline-absolute-form input {
  display: inline-block;
}
.inline-absolute-form button,
.inline-absolute-form input[type='submit'],
.inline-absolute-form input[type='button'] {
  background-color: #eee;
  color: #000;
}
.inline-absolute-form .close {
  position: absolute;
  right: 1rem;
  border: none;
  background-color: white;
}
.inline-absolute-form .username-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
@media (max-width: 710px) {
  .list {
    width: 100%;
  }
}
@media (min-width: 1001px) {
  .list:last-child {
    max-width: calc(50% - 1rem);
  }
}
