.boards,
.lists {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.board,
.list {
  flex: 1;
  background-color: #fcf8e8;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.board h2,
.list h2 {
  white-space: nowrap;
}
.board-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.board-name .avatar-username {
  font-size: 0.6em;
}
.list .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border: 1px solid #eee;
  border-radius: 0.5rem;
}

.list .name button {
  color: #ddd;
  border: 1px solid white;
}
.list .name button:hover {
  color: #333;
  border: 1px solid #ccc;
}
.list .name .info-text {
  display: none;
}
.list .name:hover .info-text {
  display: inline;
}
.new-user-form {
  position: absolute;
  min-height: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
}
.new-user-form ul {
  margin-top: 1rem;
}
.new-user-form .username-item {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .board,
  .list {
    width: 100%;
  }
}
