.avatar-username {
  display: flex;
  align-items: center;
}
.avatar-username span.text-before {
  margin-right: 0.2rem;
}
.avatar-username picture {
  width: 2rem;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-right: 0.2rem;
  background-color: white;
  overflow: hidden;
}
