.avatar-username span {
}
.avatar-username span.text-before {
  margin-right: 0.2rem;
}
.avatar-username picture {
}
.avatar-username picture img {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 0.2rem;
}
