.avatar-username {
  display: flex;
  align-items: center;
}
.avatar-username span {
  font-weight: 700;
}
.avatar-username span.text-before {
  margin-right: 0.2rem;
}
.avatar-username picture {
  display: flex;
  align-items: center;
}
.avatar-username picture img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 0.2rem;
}
