/*Colors*/
/*giallo chiaro fcf8e8 */
/*verde chiaro d4e2d4*/
/*arancione chiaro ecb390*/
/*arancione scuro df7861*/

.App {
  display: flex;
}
.main {
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #ecb390;
}
.main > h1,
.main > h2,
.main > form {
  padding: 0 1.5rem;
}
.sidebar {
  background-color: #d4e2d4;
  padding: 1rem;
  min-height: 100vh;
  white-space: nowrap;
}
.sidebar a {
  color: #111;
}
.sidebar.closed {
  width: 8rem;
  text-align: center;
  white-space: normal;
}
.sidebar.closed ul,
.sidebar.closed .username {
  display: none;
}

@media (max-width: 640px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    min-height: 0;
  }
  .sidebar.closed {
    width: 100%;
  }
}

.landingPagePopUp {
  margin: 50px 0;
}
.button {
  font-size: 1em;
  padding: 5px;
  color: #111;
  /* border: 2px solid #df7861; */
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #df7861;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  font-size: 1.1rem;
  margin: 70px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: manual;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #df7861;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    padding: 25px;
    width: 95%;
  }
}
.textBold {
  font-weight: bold;
}
