/*Colors*/
/*giallo chiaro fcf8e8 */
/*verde chiaro d4e2d4*/
/*arancione chiaro ecb390*/
/*arancione scuro df7861*/

.App {
  display: flex;
}
.main {
  width: 100%;
  padding: 1rem;
  background-color: #ecb390;
}
.sidebar {
  background-color: #d4e2d4;
  padding: 1rem;
  min-height: 100vh;
  white-space: nowrap;
}
.sidebar a {
  color: #111;
}
.sidebar.closed {
  width: 8rem;
  text-align: center;
  white-space: normal;
}
.sidebar.closed ul,
.sidebar.closed .username {
  display: none;
}

@media (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    min-height: 0;
  }
  .sidebar.closed {
    width: 100%;
  }
}
