/* Color palette
yellow #fcf8e8
green #d4e2d4
light orange #ecb390
dark orange #df7861
*/

.App {
  display: flex;
}
.main {
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #ecb390;
}
.main > h1,
.main > h2,
.main > .main-content {
  padding: 0 1.5rem;
}
.main-content {
  margin-bottom: 2rem;
}
.main-content label,
.main-content input {
  display: block;
}
.main-content input {
  margin-bottom: 0.5rem;
}
.main-content button,
.main-content input[type='submit'],
.main-content input[type='button'] {
  background-color: #df7861;
  color: #000;
}
.main-content button:hover,
.main-content input[type='submit']:hover,
.main-content input[type='button']:hover {
  background-color: #d4e2d4;
}
.main-content a {
  color: #df7861;
  font-weight: 700;
}
.main-content a :hover {
  color: #d4e2d4;
}
.sidebar {
  background-color: #d4e2d4;
  padding: 1rem;
  min-height: 100vh;
  white-space: nowrap;
}
.sidebar a {
  color: #111;
}
.sidebar.closed {
  width: 10rem;
  text-align: center;
  white-space: normal;
}
.sidebar.closed ul,
.sidebar.closed .username {
  display: none;
}
.sidebar.closed .avatar-username {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon.signup::before {
  font: var(--fa-font-solid);
  content: '\f007';
}

@media (max-width: 640px) {
  .App {
    flex-direction: column;
  }
  .sidebar {
    min-height: 0;
  }
  .sidebar.closed {
    width: 100%;
  }
}

.landingPagePopUp {
  margin: 50px 0;
}
.button {
  font-size: 1em;
  padding: 5px;
  color: #111;
  /* border: 2px solid #df7861; */
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #df7861;
}

.overlay {
  z-index: 15;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  font-size: 1.1rem;
  margin: 70px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: manual;
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #df7861;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    padding: 25px;
    width: 95%;
  }
}
.textBold {
  font-weight: bold;
}
