@font-face {
  font-family: 'Nunito';
  src: url('/public/style/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/public/style/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input,
select,
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: #333;
}
button,
input[type='submit'],
input[type='button'] {
  background: none;
  padding: 0.1rem 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
}
label,
input[type='text'] {
  margin-right: 0.5rem;
}
input[type='text'] {
  padding: 0.1rem 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
ul {
  list-style: none;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}
.undisplayed {
  display: none;
}
.close {
  text-align: right;
  margin-bottom: 1rem;
}
